@font-face {
    font-family: '20 Kopeek';
    src: local('20 Kopeek'), local('20Kopeek'),
        url('../fonts/20Kopeek.woff2') format('woff2'),
        url('../fonts/20Kopeek.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '20 Kopeek Book';
    src: local('20 Kopeek Book'), local('20Kopeek-Book'),
        url('../fonts/20Kopeek-Book.woff2') format('woff2'),
        url('../fonts/20Kopeek-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


