:root {
    --black: #181818;
    --blue: #2b59c3;
    --light-grey: #e5e5e5;
    --dark-grey: #868686;
    --white: #fff;

    --zagalovok: "20 Kopeek Book", arial, sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5vw;
}

.body {
    font-family: "20 Kopeek", arial, sans-serif;
    line-height: 1.4;

    color: var(--black);
    background: var(--white);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blue);
    border-radius: 40px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4;
    height: 62px;
    padding: 3px 15px;
    transition: 0.5s;
}

.button:hover {
    background-color: #4a7bf8;
}

.body--opened-modal {
    overflow: hidden;
}

.field {
    position: relative;
    display: block;
}



/* --------------------------------------------- */

.header {
    z-index: 10;
    position: relative;
    padding: 31px 0 309px;
    background: url(/img/milk.jpg) 55% 50%/ cover no-repeat;
    animation: slide 20s infinite;
    animation-delay: 2s;
    animation-timing-function: cubic-bezier(0.3, 1.5, 0.2, 1);
}

@keyframes slide {
    25% {
        background: url(/img/child.jpg) 55% 50%/ cover no-repeat;
    }

    50% {
        background: url(/img/cleaning.jpg) 55% 50%/ cover no-repeat;
    }

    75% {
        background: url(/img/nicetone.jpg) 55% 50%/ cover no-repeat;
    }

    100% {
        background: url(/img/milk.jpg) 55% 50%/ cover no-repeat;
    }
}


.header__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {}

.header__logo path {
    transition: 0.5s;
}

.header__logo:hover path {
    fill: #2b59c3;
}


.header__logo::after {
    content: 'Разрабатываем фирменные стили с 2009 года';
    font-size: 15px;
    max-width: 215px;
    color: var(--white);
    display: inline-block;
    padding-left: 22px;
    cursor: auto;
}

.logo__text {}

.header__connection {
    display: flex;
    align-items: center;
    gap: 23px;
}

.header__number {
    transition: 0.5s;
}

.header__number:hover {
    color: #2b59c3;
    border-color: #2b59c3;
}

.header__number {
    border: 1px solid var(--white);
    border-radius: 15px;
    padding: 7px 27px 7px 33px;
    width: 204px;
    height: 36px;
    font-size: 16px;
    color: var(--white);

    white-space: nowrap;
}

.header__massenge-inst {
    display: flex;
    padding: 11.01px 10.03px 11.01px 10px;
    max-height: 36px;
    border: 1px solid white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.header__massenge-f {
    display: flex;
    padding: 14.67px 14.03px 15.61px 14px;
    max-height: 36px;
    border: 1px solid white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.header__massenge-inst path,
.header__massenge-f path {
    transition: all 0.5s;
}

.header__massenge-inst:hover path,
.header__massenge-f:hover path {
    fill: #2b59c3;
}

.header__massenge-inst:hover,
.header__massenge-f:hover {
    border-color: #2b59c3;
}

.header__hero {
    padding-top: 269px;
}

.header__teaxt {}

.main__title {
    max-width: 560px;
    font-family: var(--zagalovok);
    font-size: 55px;
    line-height: 100%;
    color: var(--black);
}

.hero__text {
    padding-top: 19px;
    max-width: 528px;
    font-family: var(--zagalovok);
    font-size: 34px;
    line-height: 110%;
    color: var(--black);
    padding-bottom: 60px;
}

.hero__button {
    display: flex;
    gap: 20px;
}

.header__button-1 {
    text-align: center;
    height: 71px;
    border-radius: 40px;
    padding: 23px 47px;
    max-width: 186px;
    width: 100%;
    background: var(--white);
    font-size: 18px;
    transition: all 0.5s;
}

.header__button-2 {
    text-align: center;
    height: 71px;
    border-radius: 40px;
    padding: 23px 47px;
    max-width: 228px;
    width: 100%;
    background: var(--white);
    font-size: 18px;
    transition: all 0.5s;
}

.header__button-1:hover,
.header__button-2:hover {
    background-color: var(--light-grey);
    box-shadow: 0px 0px 4px inset #000000;
    font-size: 17px;
    padding-top: 24px;
}

/* -------------------------------------------------- */
.modal {
    position: fixed;
    inset: 0;
    z-index: 10;
    background: #00000071;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: all .6s;
}

.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
}

.modal__form {
    padding: 11px 12px 13px;
    position: relative;
    background: var(--white);
    max-width: 650px;
    max-height: 495px;
}

.modal__cancel {
    position: absolute;
    top: -37px;
    right: -38px;
}

.modal__cancel path,
.modal__cancel rect {
    transition: 0.5s;
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
    fill: var(--blue);
}


.modal__title {
    font-family: var(--zagalovok);
    font-weight: 400;
    font-size: 38px;
    line-height: 110%;
    padding: 47px 300px 30px 54px;
    ;
}

.modal__text {
    margin-bottom: 30px;
}

.modal__form-label {
    margin-bottom: 10px;
}

.contact {
    padding: 140px 0;
}

.contact__inner {
    display: flex;
    align-items: end;
    position: relative;
    gap: 84px;
}

.contact__label {
    margin-bottom: 10px;
    padding: 0 54px;
}

.contact__input {
    display: block;
    width: 100%;
    background: #00000000;
    border: 1px solid var(--dark-grey);
    border-radius: 10px;
    padding: 19px 42px 19px 28px;
    font-size: 16px;
    transition: 0.5s;
    margin-bottom: 20px;
}

.contact__input:hover {
    border-color: var(--black);
}

.contact__input::placeholder {
    color: var(--dark-grey);
    transition: 0.5s;
}

.contact__input:hover::placeholder {
    color: var(--black);
}

.contact__check-label {
    display: flex;
    align-items: start;
    gap: 11px;
    max-width: 465px;
    font-size: 18px;
    margin-bottom: 48px;
    padding: 0 0 0 56px;
    white-space: nowrap
}

.contact__check-label a {
    text-decoration: underline;
    transition: 0.5s;
}

.contact__check-label a:hover {
    color: var(--black);
}


.contact__check-label a {
    text-decoration: underline;
    transition: 0.5s;
}

.contact__check-label a:hover {
    color: var(--black);
}

.contact__checkbox {
    margin-top: 3.5px;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid var(--black);
    transition: 0.5s;
    border-radius: 5px;
    flex-shrink: 0;
    cursor: pointer;
    position: relative;
}

.contact__checkbox::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url(../img/icon/check.svg) 50% 50% no-repeat;
    opacity: 0;
    transition: 0.5s;
}

.contact__checkbox:checked {
    background: var(--black);
    border: 1px solid var(--black);
}

.contact__checkbox:checked:before {
    opacity: 1;
}


.field span {
    position: absolute;
    top: 12px;
    left: 28px;
    font-size: 11px;
    color: var(--dark-grey);

    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.field__input {
    display: block;
    width: 100%;
    background: #00000000;
    border: 1px solid var(--dark-grey);
    border-radius: 10px;
    padding: 19px 42px 19px 28px;
    font-size: 16px;
    transition: 0.5s;
}

.field__input:hover {
    border-color: var(--black);
}

.field__input::placeholder {
    color: var(--dark-grey);
    transition: 0.5s;
}

.field__input:hover::placeholder {
    color: var(--black);
}

.field__input:focus+span {
    opacity: 1;
    visibility: visible;
}

.modal__button {
    padding: 0 339px 59px 56px;
    color: var(--white);
}

.modal__button>button {
    height: 71px;
}

/* -------------------------- */

.modal__slider {
    position: fixed;
    inset: 0;
    z-index: 10;
    background: #00000071;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    /* opacity: 1;
    visibility: hidden; */
    transition: all .6s;
}


.slider {
    position: relative;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    max-height: 640px;
}

.slider__cancel {
    position: absolute;
    top: -37px;
    right: -38px;
}

.slides {
    display: flex;
    transition: all 0.5s ease;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
}

.swap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--white);
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    width: 43px;
    height: 43px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.indicators {
    text-align: center;
    margin-top: 10px;
    position: absolute;
    top: 90%;
    left: 45%;
}

.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: lightgray;
    cursor: pointer;
}

.active {
    background-color: gray;
}